<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= service %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="header">
        <span>(+91) 8927152108</span>
        <span>info@codepartner.in</span>
    </div>
    <div class="logo-group">
        <img src="/img/logo.svg" height="34" alt="" />           
    </div>
    <div class="hero-area">
        <div class="col">
            <h1>No Annoying Calls or Mail</h1>
            <h3>Get your Instant Quote within 5 min</h3>
            <img src="/img/list.png" class="list-img" alt="" />
        </div>
        <div class="col">
            <form action="" method="post">
                <div class="form-container">
                    <div class="form-group">
                        <label for="">Your Name Please</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="">Your Email</label>
                        <input type="email" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="">Your TimeZone (Auto Selected)</label>
                        <input type="text" class="form-control" name="timezone" value="wait.." disabled/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control-btn" value="Get Instant Quote" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="subject">
        <h2>Blockchain Development Service</h2>
        <p>Code Partner provides businesses with a complete view of blockchain landscape and its potential implications. We support you at every step of blockchain adoption, from design thinking-driven evaluation to assessing blockchain solution from various dimensions, creating proof-of- concepts and pilot development to complete implementation of solution. Our expertise, technology-agnostic approach, purpose-built architectures and end-to-end delivery accelerate your enterprise blockchain deployments. Let’s start with a simple quote.</p>
    </div>
    <div class="process">
        <img src="/img/GR19.png" class="process-image" alt="" />
    </div>
    <div class="footer">
        <img src="/img/logo.svg" height="34" alt="" />
        <h3>© 2022 Reserved by Code Partner</h3>
    </div>
</body>
</html>